html {
	box-sizing:border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,h4,
h5,
h6,
p,
ul{
margin-bottom: 0; 
margin-top:0;
padding: 0;
}

:root {
	--brand-color: #757575;
	--button-color: #2196F3;
	--tytle-color:#212121;
 }

body{
	margin:0;
	font-family:'Roboto', Sans-serif;
	background: #FFFFFF;;
	color:var(--brand-color);
}
/* header */

.logo{
text-decoration: none;
font-family: 'Raleway',Sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
rgba(0, 0, 0, 1)
}
.logo-web{
	color:#2196F3;
}
.logo-studio{
	color:var(--tytle-color);
}
.nav-link{
text-decoration: none;
font-family: 'Roboto',Sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--tytle-color);
list-style-type: none;
}
.nav-link:hover,.nav-contact:hover,.nav-contact:focus{
	color: var(--button-color);
} 
.nav-contact{
	color: inherit;
	text-decoration: none;
}
.nav-ul{
		list-style-type: none;
	}
	/* .site-nav{
		display: flex; */
	/* }
	.site-nav .item:not(:last-child) {
		margin-righ: 50px;
	} */
	
/* Footer */

.foot{
	background: rgba(47, 48, 58, 1);
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 215px;
	}

.foot-adress{
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
color: #FFFFFF;
text-decoration: none;
}
.foot-contact{
font-style: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
 .logo.logo-foot{
	margin-bottom: 20px;
}

.nav-ul>.item:not(:last-child){
	margin-bottom: 9px;
}

/* main first*/
 .hero{
	background:#2F303A;
	text-align: center;
	padding-bottom: 200px;
	padding-top: 200px;
 }
 .hero-tytle{
margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
 }
 .button{
font-weight: 700;
font-size: 16px;
line-height: 1.88;
color: var(--tytle-color);
background: #F5F4FA;
min-width: 216px;
border: none;
padding: 10px 32px;
text-align: center;
 }
 .button:focus,.button:hover{
	background: var(--button-color);
	color:#FFFFFF;
}
/* секція benefits */

.benefits{
	padding-top: 94px;
	padding-bottom: 94px;
}

/* секція our-work */

.our-work{
		padding-bottom: 94px;
}

/* секція our-team */

.our-team{
	padding-top: 94px;
	padding-bottom: 94px;
}

.tytle-mini{
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--tytle-color);
	}
	.mini-article{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
	}
	.tytle-work,.team{
margin-bottom: 50px;	
font-size: 36px;
line-height:1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--tytle-color);
	}

	.team-name{
margin-bottom: 10px;
margin-top: 30px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--tytle-color);
	}
.team-position{
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
	}
	/* main second */

.button-secondary{
display: inline-block;
padding: 6px 22px;
min-width: 73px;
border: none;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--tytle-color);
background: #F5F4FA;
text-align: center;
	}
	.button-secondary:focus,.button-secondary:hover{
		background: var(--button-color);
		color:#FFFFFF;
		
	}

.tytel-portf{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--tytle-color);
	}
.portf-article{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color:var(--brand-color);
	}
	a{
		text-decoration: none;	
	}
 /* container */
 .container,.foot{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
 }





